label{

    color:red;
    align-items: center;
    font-size: medium;
    text-align: center;
    display: block;
    font-size: larger;
    
}
h1{
color: blue;
align-items: center;
text-align: center;

}
